<dx-popup
    [(visible)]="visible"
    [closeOnOutsideClick] = "true"
    [dragEnabled] = "false"
    [showTitle] = "false"
    [width] = "573"
    [height] = "popupHeight()"
    class='demo-popup'
>
    <dxo-position
        my="right"
        at="right"
        [of]="nativeWindow">
    </dxo-position>
    <dxo-animation [hide]="{ type: 'pop', duration: 300, to: { opacity: 0, scale: 0.55 }, from: { opacity: 1, scale: 1 } }"></dxo-animation>
    <div *dxTemplate="let data of 'content'">
        <div class="closeButton">
            <img src="assets/close-button.svg" (click)="hideDemoPopup()" />
        </div>
        <div class="dx-dashboard-typography">
            <h1>DevExpress Dashboard</h1>
            <p class="description">The following application demonstrates how to create a Web Dashboard applicaiton with the DevExpress Dashboard Component for Angular. The application requires ASP.NET Core / MVC backend to get data from.</p>
            
            <p>Get Started:<br><a href="https://docs.devexpress.com/Dashboard/400322/" target="_blank">https://docs.devexpress.com/Dashboard/400322</a></p>
            <p>Documentation:<br><a href="https://docs.devexpress.com/Dashboard/401976/" target="_blank">https://docs.devexpress.com/Dashboard/401976/</a></p>
            <p>Source Code:<br><a href="https://github.com/DevExpress/web-dashboard-demo/" target="_blank">https://github.com/DevExpress/web-dashboard-demo</a></p>
        </div>
        <div class="logo">
            <a href="https://www.devexpress.com" target="_blank">
                <img src="assets/devexpress-logo.svg" />
            </a>
        </div>
    </div>
</dx-popup>

