.header {
    display: flex;
    position: absolute;
    top: 0;
    height: 46px;
    right: 0;
    left: 0;
    > .dx-widget {
        margin: 5px;
    }

}
.content {
    position: absolute;
    position: absolute;
    top: 46px;
    bottom: 0;
    right: 0;
    left: 0;

}